@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

body {
  font-size: 100%;
  background: linear-gradient(to right, rgb(255, 238, 197), rgb(255, 221, 129));
}

.section-titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: #90c37d;
}

.section-botao {
  background-color: #90c37d;
  color: #fff;
  width: 248px;
  height: 64px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.section-botao:hover {
  background-color: #6f9557;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.conteudo-titulo {
  font-family: "Cormorant", cursive;
  font-size: 45px;
  font-weight: 100;
  color: #513125;
  text-align: center;

  padding: 30px;
}

@media (max-width: 1024px) {
  .section-titulo {
    font-size: 17px;
  }

  .section-botao {
    width: 200px;
    height: 56px;
    font-size: 16px;
  }

  .conteudo-titulo {
    font-size: 50px;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .section-titulo {
    font-size: 15px;
  }

  .section-botao {
    width: 180px;
    height: 48px;
    font-size: 14px;
  }

  .conteudo-titulo {
    font-size: 40px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .section-titulo {
    font-size: 10px;
  }

  .section-botao {
    width: 180px;
    height: 48px;
    font-size: 14px;
  }

  .conteudo-titulo {
    font-size: 30px;
    padding: 15px;
  }
}

@media (max-width: 414px) {
  .section-titulo {
    font-size: 10px;
  }

  .section-botao {
    width: 180px;
    height: 48px;
    font-size: 14px;
  }

  .conteudo-titulo {
    font-size: 30px;
    padding: 15px;
  }
}

/*----------HEADER----------*/

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-logo {
  width: 150px;
  height: 150px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: "Poppins", sans-serif;
  color: #90c37d;
  font-size: 17px;
}

.user {
  margin-left: 100px;
}

.user-image {
  width: 80px;
  height: 80px;
  border: 5px solid #186215;
  border-radius: 100%;
  position: relative;
  bottom: 20px;
}

@media (max-width: 768px) {
  .cabecalho {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
  }

  .cabecalho-logo {
    width: 80px;
    height: 80px;
    margin: 0;
  }

  .cabecalho-menu {
    flex-direction: row;
    gap: 25px;
    align-items: center;
  }

  .user {
    margin-left: 20px;
    margin-top: 0;
  }

  .user-image {
    width: 40px;
    height: 40px;
    border-width: 2px;
    bottom: 0;
  }

  .cabecalho-menu-item {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .cabecalho {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
  }

  .cabecalho-logo {
    width: 80px;
    height: 80px;
    margin: 0;
  }

  .cabecalho-menu {
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .user {
    margin-left: 5px;
    margin-top: 0;
  }

  .user-image {
    width: 40px;
    height: 40px;
    border-width: 2px;
    bottom: 0;
  }

  .cabecalho-menu-item {
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  .cabecalho {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
  }

  .cabecalho-logo {
    width: 80px;
    height: 80px;
    margin: 10px 0;
  }

  .cabecalho-menu {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .user {
    margin-left: 5px;
    margin-top: 0;
  }

  .user-image {
    width: 40px;
    height: 40px;
    border-width: 2px;
    bottom: 0;
  }

  .cabecalho-menu-item {
    font-size: 12px;
  }
}

/*----------INTRODUÇÃO----------*/
.conteudo {
  margin-bottom: 48px;
}

.conteudo-introducao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 150px;
}

.conteudo-introducao-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.home-titulo-DN {
  width: 100%;
  border-top: 3px solid #513125;
  border-bottom: none;
  border-left: none;
  border-right: none;
  display: block;
  margin-top: 15px;
}

.home-titulo-DN legend {
  padding: 5px 10px;
}

.conteudo-introducao-titulo {
  font-family: "Cormorant", cursive;
  font-weight: 100;
  font-size: 94px;
  color: #513125;
}

.conteudo-introducao-paragrafo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #999;
}

.botoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.conteudo-introducao-botao {
  background-color: transparent;
  color: #6f9557;
  width: 130px;
  height: 64px;
  border: none;
  border-bottom: 3px solid #513125;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.conteudo-introducao-botao:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.conteudo-introducao-imagem {
  width: 770px;
  height: 770px;
}

@media (max-width: 1024px) {
  .conteudo-introducao {
    padding: 0 80px;
  }

  .conteudo-introducao-imagem {
    width: 580px;
    height: 580px;
  }

  .conteudo-introducao-titulo {
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  .conteudo-introducao {
    flex-direction: column;
    padding: 0 40px;
    align-items: center;
  }

  .conteudo-introducao-escrito {
    gap: 16px;
  }

  .conteudo-introducao-titulo {
    font-size: 50px;
    text-align: center;
  }

  .conteudo-introducao-paragrafo {
    font-size: 15px;
    text-align: center;
  }

  .botoes {
    flex-direction: column;
    gap: 16px;
  }

  .conteudo-introducao-imagem {
    width: 400px;
    height: 400px;
  }

  .conteudo-introducao-botao {
    width: 180px;
    height: 48px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .conteudo-introducao {
    padding: 0 20px;
  }

  .conteudo-introducao-titulo {
    font-size: 36px;
  }

  .conteudo-introducao-paragrafo {
    font-size: 14px;
  }

  .conteudo-introducao-imagem {
    width: 300px;
    height: 300px;
  }

  .conteudo-introducao-botao {
    width: 180px;
    height: 48px;
    font-size: 14px;
  }
}

@media (max-width: 414px) {
  .conteudo-introducao {
    padding: 0 20px;
  }

  .conteudo-introducao-titulo {
    font-size: 36px;
  }

  .conteudo-introducao-paragrafo {
    font-size: 14px;
  }

  .conteudo-introducao-imagem {
    width: 300px;
    height: 300px;
  }

  .conteudo-introducao-botao {
    width: 180px;
    height: 48px;
    font-size: 14px;
  }
}

/*----------SOBRE----------*/

.conteudo-sobre {
  background-color: #f4ede5;
  background-image: url("images/background-sobre.svg");
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px 10px;
}

.home-titulo-sobre {
  border-top: 3px solid #513125;
  border-bottom: none;
  border-left: none;
  border-right: none;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.home-titulo-sobre legend {
  padding: 5px 10px;
  margin: 30px 0;
}

.conteudo-sobre-paragrafo {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 100;
  color: #999;
  text-align: center;
  padding: 0 100px;
  margin: 30px;
}

@media (max-width: 1024px) {
  .home-titulo-sobre {
    width: 60%;
  }

  .conteudo-sobre-paragrafo {
    padding: 0 50px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .home-titulo-sobre {
    width: 80%;
  }

  .conteudo-sobre-paragrafo {
    padding: 0 30px;
    font-size: 15px;
  }

  .home-titulo-sobre legend {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  .home-titulo-sobre {
    width: 100%;
  }

  .conteudo-sobre-paragrafo {
    padding: 0 15px;
    font-size: 14px;
    margin: 20px 0;
  }

  .home-titulo-sobre legend {
    margin: 15px 0;
  }
}

@media (max-width: 414px) {
  .home-titulo-sobre {
    width: 100%;
  }

  .conteudo-sobre-paragrafo {
    padding: 0 15px;
    font-size: 14px;
    margin: 20px 0;
  }

  .home-titulo-sobre legend {
    margin: 15px 0;
  }
}

/*----------MISSÃO----------*/

.conteudo-missao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 100px 0;
  width: 100%;
  height: auto;
}

.conteudo-missao .conteudo-missao-imagem {
  width: 600px;
  height: 598px;
  margin-left: 35px;
}

.conteudo-missao .conteudo-missao-cabecalho {
  display: flex;
  padding-left: 20px;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  bottom: 215px;
}

.conteudo-missao .home-titulo-missao {
  border-top: 3px solid #513125;
  border-bottom: none;
  border-left: none;
  border-right: none;

  display: block;
  width: 70%;
}

.conteudo-missao .home-titulo-missao legend {
  padding: 5px 10px;
}

.conteudo-missao .conteudo-titulo.titulo-missao {
  padding: 0;
  text-align: start;
}

.conteudo-missao .card-evento {
  width: 600px;
  height: 320px;
  padding: 50px;

  background-color: #90c37d;
  background-image: url("images/background-card-eventos.svg");
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 1800px;
  right: 65px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.conteudo-missao .card-evento .card-titulo {
  font-family: "Cormorant", cursive;
  font-size: 36px;
  font-weight: 100;
  color: #fff;
}

.conteudo-missao .card-evento .card-paragrafo {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 100;
  color: #fff;
  white-space: pre-line;
}

.conteudo-missao .card-evento .card-botao {
  background-color: transparent;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #fff;

  padding: 20px 20px 0 0;

  cursor: pointer;
}

.conteudo-missao .card-evento .card-botao {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.conteudo-missao .card-momentos {
  width: 600px;
  height: 320px;
  padding: 50px;

  background-color: #186215;
  background-image: url("images/background-card-eventos.svg");
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 2140px;
  right: 685px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.conteudo-missao .card-momentos .card-titulo {
  font-family: "Cormorant", cursive;
  font-size: 36px;
  font-weight: 100;
  color: #fff;
}

.conteudo-missao .card-momentos .card-paragrafo {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 100;
  color: #fff;
  white-space: pre-line;
}

.conteudo-missao .card-momentos .card-botao {
  background-color: transparent;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #fff;

  padding: 20px 20px 0 0;

  cursor: pointer;
}

.conteudo-missao .card-momentos .card-botao {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.conteudo-missao .card-depoimento {
  width: 600px;
  height: 320px;
  padding: 50px;

  background-color: #f4ede5;
  background-image: url("images/background-card-eventos.svg");
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 2140px;
  right: 65px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.conteudo-missao .card-depoimento .card-titulo {
  font-family: "Cormorant", cursive;
  font-size: 36px;
  font-weight: 600;
  color: #513125;
}

.conteudo-missao .card-depoimento .card-paragrafo {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #8b8b8b;
  white-space: pre-line;
}

.conteudo-missao .card-depoimento .card-botao {
  background-color: transparent;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #513125;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #513125;

  padding: 20px 20px 0 0;

  cursor: pointer;
}

.conteudo-missao .card-depoimento .card-botao {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@media (max-width: 1024px) {
  .conteudo-missao {
    padding: 0 40px;
    flex-direction: row;
  }

  .conteudo-missao .conteudo-missao-imagem {
    width: 400px;
    height: 399px;
  }

  .conteudo-missao .conteudo-missao-cabecalho {
    bottom: 150px;
    align-items: start;
  }

  .conteudo-missao .card-evento {
    position: absolute;
    width: 400px;
    height: 140px;

    top: 1510px;
    right: 145px;

    justify-content: center;
  }

  .conteudo-missao .card-momentos {
    position: absolute;
    width: 400px;
    height: 140px;

    top: 1665px;
    right: 560px;

    justify-content: center;
  }

  .conteudo-missao .card-depoimento {
    position: absolute;
    width: 400px;
    height: 140px;

    top: 1665px;
    right: 145px;

    justify-content: center;
  }

  .conteudo-missao .card-evento .card-titulo,
  .conteudo-missao .card-momentos .card-titulo,
  .conteudo-missao .card-depoimento .card-titulo {
    font-size: 16px;
  }

  .conteudo-missao .card-evento .card-paragrafo,
  .conteudo-missao .card-momentos .card-paragrafo,
  .conteudo-missao .card-depoimento .card-paragrafo {
    font-size: 10px;
  }

  .conteudo-missao .card-evento .card-botao,
  .conteudo-missao .card-momentos .card-botao,
  .conteudo-missao .card-depoimento .card-botao {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .conteudo-missao {
    padding: 0 40px;
    flex-direction: row;
  }

  .conteudo-missao .conteudo-missao-imagem {
    width: 300px;
    height: 299px;
  }

  .conteudo-missao .conteudo-missao-cabecalho {
    bottom: 90px;
    align-items: start;
  }

  .conteudo-missao .home-titulo-missao {
    width: 100%;
  }

  .conteudo-missao .card-evento {
    position: absolute;
    width: 300px;
    height: 140px;

    top: 1520px;
    right: 105px;

    justify-content: center;
  }

  .conteudo-missao .card-momentos {
    position: absolute;
    width: 300px;
    height: 140px;

    top: 1670px;
    right: 415px;

    justify-content: center;
  }

  .conteudo-missao .card-depoimento {
    position: absolute;
    width: 300px;
    height: 140px;

    top: 1670px;
    right: 105px;

    justify-content: center;
  }

  .conteudo-missao .card-evento .card-titulo,
  .conteudo-missao .card-momentos .card-titulo,
  .conteudo-missao .card-depoimento .card-titulo {
    font-size: 16px;
  }

  .conteudo-missao .card-evento .card-paragrafo,
  .conteudo-missao .card-momentos .card-paragrafo,
  .conteudo-missao .card-depoimento .card-paragrafo {
    font-size: 10px;
  }

  .conteudo-missao .card-evento .card-botao,
  .conteudo-missao .card-momentos .card-botao,
  .conteudo-missao .card-depoimento .card-botao {
    font-size: 10px;
    text-align: start;
  }
}

@media (max-width: 480px) {
  .conteudo-missao {
    padding: 0 10px;
    flex-direction: row;
  }

  .conteudo-missao .conteudo-missao-imagem {
    width: 200px;
    height: 199px;
  }

  .conteudo-missao .conteudo-missao-cabecalho {
    bottom: 55px;
    align-items: start;
  }

  .conteudo-missao .home-titulo-missao {
    width: 100%;
  }

  .conteudo-missao .card-evento {
    position: absolute;
    width: 240px;
    height: 165px;

    top: 1340px;
    right: 15px;

    justify-content: center;
  }

  .conteudo-missao .card-momentos {
    position: absolute;
    width: 240px;
    height: 165px;

    top: 1445px;
    right: 230px;

    justify-content: center;
  }

  .conteudo-missao .card-depoimento {
    position: absolute;
    width: 240px;
    height: 165px;

    top: 1510px;
    right: 15px;

    justify-content: center;
  }

  .conteudo-missao .card-evento .card-titulo,
  .conteudo-missao .card-momentos .card-titulo,
  .conteudo-missao .card-depoimento .card-titulo {
    font-size: 16px;
  }

  .conteudo-missao .card-evento .card-paragrafo,
  .conteudo-missao .card-momentos .card-paragrafo,
  .conteudo-missao .card-depoimento .card-paragrafo {
    font-size: 10px;
  }

  .conteudo-missao .card-evento .card-botao,
  .conteudo-missao .card-momentos .card-botao,
  .conteudo-missao .card-depoimento .card-botao {
    font-size: 10px;
    text-align: start;
  }
}

@media (max-width: 414px) {
  .conteudo-missao {
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
  }

  .conteudo-missao .conteudo-missao-imagem {
    width: 300px;
    height: 299px;
    align-items: center;
  }

  .conteudo-missao .conteudo-missao-cabecalho {
    bottom: 375px;
    align-items: center;
    padding-left: 0;
  }

  .conteudo-missao .home-titulo-missao {
    width: 100%;
  }

  .conteudo-missao .cards {
    position: absolute;
    right: 20px;
    top: -35px;
  }

  .conteudo-missao .card-evento {
    position: absolute;
    width: 300px;
    height: 165px;

    top: 1900px;
    right: 37px;

    justify-content: center;
  }

  .conteudo-missao .card-momentos {
    position: absolute;
    width: 300px;
    height: 165px;

    top: 2260px;
    right: 37px;

    justify-content: center;
  }

  .conteudo-missao .card-depoimento {
    position: absolute;
    width: 300px;
    height: 165px;

    top: 2080px;
    right: 37px;

    justify-content: center;
  }

  .conteudo-missao .card-evento .card-titulo,
  .conteudo-missao .card-momentos .card-titulo,
  .conteudo-missao .card-depoimento .card-titulo {
    font-size: 16px;
  }

  .conteudo-missao .card-evento .card-paragrafo,
  .conteudo-missao .card-momentos .card-paragrafo,
  .conteudo-missao .card-depoimento .card-paragrafo {
    font-size: 10px;
  }

  .conteudo-missao .card-evento .card-botao,
  .conteudo-missao .card-momentos .card-botao,
  .conteudo-missao .card-depoimento .card-botao {
    font-size: 10px;
    text-align: start;
  }
}

@media (max-width: 390px) {
  .conteudo-missao .cards {
    position: absolute;
    right: 8px;
    top: -15px;
  }
}

@media (max-width: 375px) {
  .conteudo-missao .cards {
    position: absolute;
    right: 0px;
    top: 5px;
  }
}

/*----------EVENTOS----------*/

.conteudo-eventos-dn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 10%;
  margin-top: 350px;
}

.home-titulo-eventos {
  border-top: 3px solid #513125;
  border-bottom: none;
  border-left: none;
  border-right: none;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  width: 100%;
  max-width: 40%;
}

.home-titulo-eventos legend {
  padding: 5px 10px;
}

.grid-imagens-eventos {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  gap: 200px 30px;

  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  z-index: 0;
}

.grid-cards-eventos {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 290px);
  gap: 290px 40px;

  position: relative;
  bottom: 540px;

  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  z-index: 1;
}

.card-eventos-dn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  color: white;
  text-align: center;
  background: linear-gradient(to right, #186215, #209447);

  width: 100%;
  max-width: 290px;
  height: 190px;
}

.card-eventos-dn-titulo {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: "Cormorant", cursive;

  color: #fff;
  text-align: center;
}

.card-eventos-dn-paragrafo {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 0.75rem;
  color: #fff;

  padding: 10px;
}

.card-eventos-dn-botao {
  background-color: transparent;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #fff;

  cursor: pointer;
}

.conteudo-eventos-imagem {
  width: 100%;
  max-width: 300px;
}

@media (max-width: 768px) {
  .conteudo-eventos-dn {
    padding: 0 5%;
  }

  .home-titulo-eventos {
    width: 80%;
  }

  .grid-imagens-eventos {
    grid-template-columns: repeat(3, 200px);
    gap: 150px 20px;
  }

  .grid-cards-eventos {
    grid-template-columns: repeat(3, 210px);
    gap: 200px 10px;
    bottom: 390px;
  }

  .card-eventos-dn-titulo{
    font-size: 1.2rem;
  }

  .card-eventos-dn-paragrafo {
    font-size: 0.65rem;
  }

  .card-eventos-dn-botao {
    font-size: 0.7rem;
  }

  .card-eventos-dn {
    max-width: 100%;
    height: auto;

    padding: 4%;
  }
}
/*----------PONTEIROS----------*/

.conteudo-ponteiros {
  margin-top: 240px;
}
